.vs/
bin/
obj/
out/
packages/
.ConsoleApp1/bin/
.ConsoleApp1/obj/
.git/
_ReSharper*/
node_modules/
.idea/

project.lock.json
package-lock.json
appsettings.json
appsettings.*.json
secrets.json
project.assets.json
Thumbs.db

*.bin
*.v2
*.vsidx
*.runtimeconfig.json
*.iml
*.log
*.tlog
*.dmp
*.tmp
*.cache
*.bak
*.swp
*.swo
*.ldb
*.config
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstates
